:root {
    --orange: rgb(207, 179, 0);
    --gray: rgb(113, 113, 113);
}

body {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    color: var(--gray)
}

.logo {
    font-family: "Mooli";
    font-size: 25px;
}

.header {
    border-bottom: 1px solid var(--gray);
}

.header-logo-Edik {
    color: var(--orange)
}

.header-logo-Congrat {
    color: var(--gray)
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-content-wrap {
    display: flex;
    align-items: center;
    min-height: 60px;
    gap: 150px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list-link {
    color: var(--gray);
    transition: color 0.2s;
}

.nav-list-link:hover {
    color: var(--orange);
}

.hero-title {
    text-align: center;
    padding-bottom: 20px;
}

.hero {
    margin-top: 100px;
}

.hero-desc {
    text-align: center;
    font-weight: 400;
}

.hero-img {
    padding-top: 50px;
    margin: 0 auto;
    height: 350px
}